@emoji-size: 20px;
@emoji-path: '../emoji/';

/* Spritesheet */
@emoji-mode: spritesheet; // spritesheet
@emoji-columns: 10;

.emojify { 
  width: @emoji-size; 
  height: @emoji-size; 
  display: inline-block; 
  // margin-bottom: -0.25em; 
  background-repeat: no-repeat;

  -webkit-background-size: @emoji-size; /* Safari 3.0 */
     -moz-background-size: @emoji-size; /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: @emoji-size; /* Opera 9.5 */
          background-size: @emoji-size;
}

.emoji-mode(individual){
  background-image: url('@{emoji-path}@{emoji}.png'); 
}

.emoji-mode(spritesheet){
  background-image: url('@{emoji-path}1.spritesheet.@{type}.png');
  background-position: (mod(@index - 1, @emoji-columns) * @emoji-size) (floor(@index / @emoji-columns) * @emoji-size);
}

// .emoji-sprite() when (@index = 1) {} Trick

.emojify(@type: '', @emojis, @index: 1) when (@index <= length(@emojis)) {
  @emoji: extract(@emojis, @index);

  .emojify.@{emoji} { 
    .emoji-mode(@emoji-mode);
  }

  .emojify(@type, @emojis, @index + 1);
}

@import 'emojify.emoticons.less';
@import 'emojify.people.less';
@import 'emojify.nature.less';
@import 'emojify.objects.less';
@import 'emojify.places.less';
@import 'emojify.symbols.less';